/* general */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    max-width: 100%;
    padding-bottom: 400px;
}
/* topbar */
.top-bar{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 10px 20px;
}
.logoside{
    display: flex;
    gap: 20px;
}
.slogan{
    text-align: center;
}
/* header */
.header{
    width: 100%;
    height: 400px;
    
    position: relative;
}
.bannerimg{
    width: 100%;
    height: 100%;
}
.banner-text{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    color: white;
    font-weight: 700;
}
.smalltitle{
    font-size: 36px;
    margin-top: 35px;
}
.maintitle{
    font-size: 75px;
    margin-top: 70px;
}
/* navbar */
.navbar{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 15px;
}
.links{
    display: flex;
    gap: 50px;
    align-items: center;
    list-style: none;
    font-size: 25px;
}
.link{
    padding: 8px;
    cursor: pointer;
}
.link:hover{
    color: #4057CF;
    border-bottom: 3px solid #4057CF;
}
.section-1{
    display: flex;
    gap: 60px;
    width: 100%;
    padding: 30px 60px;
}
.bigside-img{
    width: 100%;
    height: 500px;
}
.smallside-img{
    width: 100%;
    height: 500px;
}
.big-side{
  width: 66%;
}
.small-side{
    width: 34%;
}
.bigside-texts, .smallside-texts{
    margin-left: 30px;
}
.bigside-text1, .smallside-text1{
    font-size: 35px;
}
.bigside-text2, .smallside-text2{
  font-size: 20px;
  margin-left: 20px;
}
